.heart {
    background: #222;
    color: red;
    font-family: Verdana;
    font-size: 256px;
    line-height: 384px;
    margin: 48px 0;
    text-shadow: 0 0 30px rgba(255,255,255,.1);
}

@keyframes beat
{
    0%   {font-size: 256px}
    35%  {font-size: 384px}
    100% {font-size: 256px}
}

@-moz-keyframes beat
{
    0%   {font-size: 256px}
    35%  {font-size: 384px}
    100% {font-size: 256px}
}

@-webkit-keyframes beat
{
    0%   {font-size: 256px}
    35%  {font-size: 384px}
    100% {font-size: 256px}
}

@-o-keyframes beat
{
    0%   {font-size: 256px}
    35%  {font-size: 384px}
    100% {font-size: 256px}
}


.beat {
    animation: beat 1.5s linear 0s infinite normal;
    /* Firefox: */
    -moz-animation: beat 1.5s linear 0s infinite normal;
    /* Safari and Chrome: */
    -webkit-animation: beat 1.5s linear 0s infinite normal;
    /* Opera: */
    -o-animation: beat 1.5s linear 0s infinite normal;
}